[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras-vggface = "*"
keras-preprocessing = "*"
mtcnn = "*"
keras-applications = "*"
tensorflow = "*"
sklearn = "*"
scikit-learn = "*"
opencv-contrib-python = "*"
firebase-admin = "*"
mysql = "*"
mysql-connector-python = "*"
pymongo = {extras = ["srv"], version = "*"}
python-dotenv = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
